
<form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">  
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
          Campo numérico requerido con validaciones para cantidad de caracteres, mínimo (1) y máximo (1'999.999)
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="numeroIdentificacion">Número de identificación</label>
          <input  type="text" 
                  class="form-control" 
                  id="numeroIdentificacion" 
                  aria-describedby="numeroIdentificacionHelp" 
                  placeholder="Número de identificación"
                  [(ngModel)]="numId"
                  name="numeroIdentificacion"
                  #numeroIdentificacion="ngModel"
                  [ngClass]="{
                    'is-invalid': numeroIdentificacion.touched && !numeroIdentificacion.valid,
                    'is-valid': numeroIdentificacion.touched && numeroIdentificacion.valid
                  }"
                  required
                  maxlength="7"
                  OnlyNumber="true"
                  max="1999999"
                  >
          <div *ngIf="numeroIdentificacion.invalid && (numeroIdentificacion.dirty || numeroIdentificacion.touched)" class="invalid-feedback">
            <div *ngIf = "numeroIdentificacion.errors?.required">
              Número de identificación no puede estar vacio.
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        Campo de email
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input  type="text" 
                  class="form-control" 
                  id="email" 
                  aria-describedby="emailHelp" 
                  placeholder="Email"
                  [(ngModel)]="mail"
                  name="email"
                  #email="ngModel"
                  [ngClass]="{
                    'is-invalid': email.touched && !email.valid,
                    'is-valid': email.touched && email.valid
                  }"
                  required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  >
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf = "email.errors?.required">
              Campo email no puede estar vacio.
            </div>
            <div *ngIf = "email.errors?.pattern && email.touched">
              El email no es válido.
            </div>
          </div>
  
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        Campo que no permite espacios y está limitado a 20 caracteres. También valida que sólo haya letras
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Primer Nombre</label>
          <input  type="text" 
                  class="form-control" 
                  id="firstName" 
                  aria-describedby="firstNameHelp" 
                  placeholder="First name"
                  [(ngModel)]="firstNameModel"
                  name="firstName"
                  #firstName="ngModel"
                  [ngClass]="{
                    'is-invalid': firstName.touched && !firstName.valid,
                    'is-valid': firstName.touched && firstName.valid
                  }"
                  required
                  NoSpaces="true"
                  OnlyLetter="true"
                  [(uppercase)]='firstNameModel'
                  maxlength="12"
                  >
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
            <div *ngIf = "firstName.errors?.required">
              Campo email no puede estar vacio.
            </div>
            <div *ngIf = "firstName.errors?.pattern && firstName.touched">
              El email no es válido.
            </div>
          </div>
  
          
        </div>
      </div>
    </div>
  </div>
</form>
